@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

		@keyframes rotating {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}
		.classic {
			font-family: 'Poppins', sans-serif;
			background-color: #0E48A7;
			color: #000000;
			--placeh: #000000;
			--btn-color: #000000;
			--nav-color: #0a2857;
			--nav-tcolor: #ffffff;
			--nav-tcolorh: #000000;
			--nav-tcolora: #000000;
			--btn-h: #ffffff;
		}
.retro {
			font-family: 'Ubuntu-Mono', monospace;
			background-color: #000000;
			color: #14c832;
			--placeh: #14c832;
			--btn-color: #14c832;
			--nav-color: #1d1b1b;
			--nav-tcolor: #14c832;
			--nav-tcolorh: #000000;
			--nav-tcolora: #0e4317;
			--btn-h: #000000;
		}
h1 {
	-webkit-transition: 0.5s all ease;
		transition: 0.5s ease all;
}
.lava {
	background-color: #fb4509;
	color: #000000;
	--placeh: #000000;
	--btn-color: #000000;
	--nav-color: #942500;
	--nav-tcolor: #c18d7b;
	--nav-tcolorh: #bf5431;
	--nav-tcolora: #6d3c2c;
	--btn-h: #bf5431;
}
.midnight {
	background: #101c38;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	--placeh: white;
	--btn-color: #ffffff;
	--nav-color: #040f2a;
	--nav-tcolor: #ffffff;
	--nav-tcolorh: #272626;
	--nav-tcolora: #ffffff;
	--btn-h: #ffffff;
}
		.home {
			bottom: 50%;
			height: 0;
			display: grid;
			justify-items: center;
			animation: resizeIN 500ms;
			animation-fill-mode: forwards;
			animation-iteration-count: 1;
		}
.center {
	display: flex;
align-items: center;
justify-content: center;
	flex-direction: column;
}

		.logo-below {
			bottom: 45%;
			position: absolute;
			font-size: 32px;
		}
		.logo {
			position: absolute;
			bottom: 50%;
			width: 128px;
			height: 128px;
			-webkit-animation: rotating 3s linear infinite;
		-moz-animation: rotating 3s linear infinite;
		-ms-animation: rotating 3s linear infinite;
		-o-animation: rotating 3s linear infinite;
		animation: rotating 3s linear infinite;
		}
		.logo:hover {
			cursor: pointer;
		}

		.form {
			position: absolute;
			right: 40%;
			bottom: 44%;
			height: 30px;
			width: 150px;
			text-align: center;
			border-radius: 15px;
			display: flex;
			background: none;
			color: white;
			-webkit-transition: 0.5s all ease;
		transition: 0.5s ease all;
		}
.apps {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    }
.app {
	color: var(--btn-color);
	height: 175px;
	width: 175px;
	border-width: 1px;
	border-style: solid;
	border-radius: 20px;
	background: none;
	-webkit-transition: 0.5s all ease;
		transition: 0.5s ease all;
	margin-right: 20px;
	margin-top: 40px;
}
.app:hover {
	cursor: pointer;
	background: var(--btn-h)
}
		::placeholder {
			color: var(--placeh);
		}
		input {
			border-style: solid;
		}
		input:hover {
			background: grey;
		}
		.form:focus {
			color: black;
			background: white;
		}
.btn {
	border-radius: 15px;
	width: 75px;
	height: 30px;
	background: none;
	border-style: solid;
	color: var(--btn-color)
		font-family: 'Poppins', sans-serif;
-webkit-transition: 0.5s all ease;
		transition: 0.5s ease all;
	}

	.btn:hover {
		background: var(--btn-h);
		cursor: pointer;
	}
.content {
	justify-content: center;
	display: flex;
}
.time {
	margin-left: 10px;
	font-size: 30px;
	width: 200px;
	height: 40px;
	text-align: center;
	opacity: 50%;
}
.set {
	border-radius: 15px;
	width: 75px;
	height: 30px;
	text-align: center;
	justify-content: center;
}
.navbar {
	justify-content: right;
	display: flex;	
}

.topnav {
  background-color: var(--nav-color);
  overflow: hidden;
	width: 100%;
}


.topnav a {
  float: left;
  display: block;
  color: var(--nav-tcolor);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: var(--nav-tcolorh);
}


.topnav a.active {
  background-color: #001eff;
  color: var(--nav-tcolora);
}
.foot {
 position: absolute;
	margin-left: 20px;
	margin-bottom: 20px;
  left: 1%;
  bottom: 1%;
}